body{font-family: 'Quicksand', sans-serif;}
.contenedor1{
    height: 20vh;
    background: green;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.6fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
    color: aliceblue;
}
.logo{grid-area: 1/1/3/2;}
.titulo{grid-area: 1/2/2/3;}
.icono{grid-area: 2/2/3/3;}
.enlace{grid-area: 1/3/3/3;}
.contenedor2{
    display:grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: center;
}
.contenedor3{
    display:grid;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    padding: 10px;
    margin: 10px;
    align-items: center;
    text-align: justify;
}
.contenedor4{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    height: 10vh;
    padding: 15px;
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-size: 12px;
    background: green;
}
.contenedor5{
    display:grid;
    grid-template-columns: 0.1fr 1fr 5fr 0.1fr;
    align-items: top;
    text-align: justify;
    margin: 10px;
}
.contenedor6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 180vh;
    width: 190vh;
    margin: 10px;
    align-items: center;
    text-align: justify;
    font-size: 15px;
}
.card{
    align-items: center;
    padding: 12px;
    margin:12px;
}
.titulo1{grid-area: 1/2/2/4;text-align: center;margin-bottom: 30px;}
.img{grid-area: 2/2/3/3;padding-left: 60px; padding-right:  10px;}
.text{grid-area: 2/3/3/4;padding-right: 60px; padding-left: 10px;}